.errorValidateDiv {
    background: url("../images/register_line01.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 30px;
}

.errorValidateDiv .l-l {
    background: url("../images/register_line03.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline;
    float: left;
    height: 27px;
    overflow: hidden;
    width: 3px;
}

.errorValidateDiv .r-l {
    background: url("../images/register_line02.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline;
    float: right;
    height: 27px;
    overflow: hidden;
    width: 3px;
}

.errorValidateDiv .errorValidateText {
    color: #666666;
    display: block;
    float: left;
    height: 22px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 5px;
}